:root {
  /* Colours */
  --color-bg: #e9ede7; /* page background /*

  /* Header */
  --color-head-bg: #414141;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #ab3d3f;
  /* Links */
  --color-link-bg: #ffffff;
  --color-link-hover: #ffffff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 1.8rem;
  --font-sub1-size: 1.3rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1.1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #4e5743;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #e4c9c9;
  --color-cta-newscard-bg: #ab3d3f;
  --color-cta-newscard-bg-inverted: #dbe2f5;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.2rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #d6a9aa;
  --color-infobox-2-bg: #000000;

  --form-background-color: #ffffff;
  --form-input-color1: #e4c9c9;
}
