:root {
  /* Colours */
  --color-bg: light-dark(#e9ede7, #302e2e); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ab3d3f, #944243);

  /* Logotype */
  --color-logotype-bg: light-dark(#202020, #202020);
  --color-text-logotype: #e9ede7;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#444637, #444637);
  /* Links */
  --color-link-bg: light-dark(#e9ede7, #202020);
  --color-link-hover: #ffffff9e; /* used */
  --color-logo-hover: rgba(255, 255, 255, 0.178);
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 1.8rem;
  --font-sub1-size: 1.3rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1.1rem;
  --color-headline-bg: light-dark(#202020, #535252);
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: light-dark(#000000, #e9ede7);
  --color-text-inverted: #e9ede7;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #414141);
  --color-cta-card-bg: #58634b;
  /* news-cards */
  --color-news-bg: light-dark(#ffffff, #414141);
  --color-news-bg-inverted: light-dark(#444637, #535252);
  --color-cta-newscard-bg: #ab3d3f;
  --color-cta-newscard-bg-inverted: light-dark(#e9ede7, #58634b);
  --color-news-text-inverted: #ffffff;
  --color-cta-newscard-bg-inverted-p: #e9ede7;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.2rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#ffffff, #414141);
  --color-infobox-1-bg: #4e5743;
  --color-infobox-2-bg: #ffffff;

  --form-background-color: light-dark(#ffffff, #414141);
  --form-input-color1: light-dark(#dedede, #737373);

  /* buttons */

  --color-btn: #e9ede7;
}
