#webform {
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 35px;
  gap: 20px;
}

.grid-form-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.byer {
  display: grid;
  grid-row: 2;
}

.grid-form-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.regioner {
  display: grid;
  grid-row: 2;
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 20px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#form-info {
  padding: 20px 10px 40px 10px;
}

#form-info h2 {
  margin-bottom: 20px;
}

.errormsg {
  display: none;
  color: darkred;
}

input:user-invalid ~ .errormsg {
  display: block;
}

textarea:user-invalid ~ .errormsg {
  display: block;
}

fieldset {
  border: none;
}

input {
  background-color: var(--form-input-color1);
  cursor: pointer;
  border: none;
  padding: 5px 30px;
}

input[type="submit"] {
  display: flex;
  justify-self: right;
  padding: 5px 110px;
  border-radius: 35px;
  margin: 20px;
}

#submitbtn {
  background-color: var(--color-logotype-bg);
  color: var(--color-text-logotype);
}

select {
  border: 1px solid var(--color-news-bg-inverted);
  border-radius: 0;
  padding: 5px 10px;
}

legend {
  font-weight: 500;
  margin-bottom: 2px;
}

.radio-ejer {
  display: flex;
  align-items: center;

  gap: 10px;
  padding: 10px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 10px 0;
}

.checkboxes input {
  margin: 10px 20px 0 0;
}

.checkboxes .errormsg {
  grid-column-start: 2;
}

@media (width<800px) {
  .byer {
    margin-top: 20px;
  }
  .regioner {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
    max-width: 250px;
  }
}
textarea {
  /* width: 350px;
  height: 200px; */
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: var(--form-input-color1);
  font-size: 1rem;
  font-weight: 400;
  resize: none;
}
@media (width>800px) {
  .grid-form-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }

  .grid-form-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }

  #checkboxes .errormsg {
    grid-column-start: 2;
  }
  .grid-form-3 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 20px;
  }

  textarea {
    height: 240px;
    width: 550px;
  }

  .grid-form-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
}
