#webform {
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 35px;
  gap: 20px;
}

.grid-form-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.grid-form-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-form-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 20px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#form-info {
  padding: 20px 10px 40px 10px;
}

#form-info h2 {
  margin-bottom: 20px;
}

.errormsg {
  display: none;
}

input:user-invalid ~ .errormsg {
  display: block;
}

fieldset {
  border: none;
}

input {
  background-color: var(--form-input-color1);
  cursor: pointer;
  border: none;
  padding: 5px 30px;
}

select {
  border: 1px solid var(--color-news-bg-inverted);
  border-radius: 0;
  padding: 5px 30px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto 1fr;
}

.checkboxes input {
  margin: 10px 20px 0 0;
}

@media (width>800px) {
  .grid-form-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }

  .grid-form-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
  }

  .grid-form-3 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 20px;
  }
}
